.event {
    z-index: 1;
    overflow: visible;
    padding-left: 4px;
    padding-top: 4px;
    width: 100%;
    border-radius: 10px
}
.event-preview {
    text-align: left;
    padding-left: 4px;
    padding-top: 4px;
    width: 100%;
    border-radius: 10px
}