.cell {
    border: 0 solid #282c34;
    border-bottom-width: 2px;
    font-size: 20px;
    text-align: left;
    min-height: 100px;
    height: 100px;
    min-width: 100px;
    margin: 0;
}

.header_cell {
    border: 0 solid #282c34;
    border-right-width: 1px;
    border-bottom-width: 1px;
    font-size: 20px;
    text-align: left;
    min-height: 100px;
    min-width: 100px;
    margin: 0;
}

.time_indicator {
    position: absolute;
    margin-right: 0;
    margin-left: 5%;
    margin-top: -0.9%;
}

.day_cell {
    border: 0 solid #282c34;
    font-size: 15px;
    text-align: center;
    min-height: 100px;
    min-width: 100px;
    margin: 0;
}
.subCell {
    width: 100%;
    border: 0 dashed #282c34;
    border-bottom-width: 1px;
}